body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  width: 100%;
}

a {
  color: initial;
}

a:hover {
  text-decoration: none;
  color: initial;
}

/*********   HEADER   **********/

header {
  color: white;
  padding: 20px;
  background-color: rgb(34, 115, 245);
}

h1 {
  margin-bottom: 0;
}

header, nav div a {
  color: white;
}

nav div a {
  font-size: 110%;
}

/*********   FOOTER   **********/

footer {
  margin-top: 40px;
  padding: 20px;

}

/*********   FEED   **********/

.side-bar {
  margin-top: 30px;
  text-align: left;
}

.side-bar p{
  margin-bottom: 5px;
}

#dropdownMenuButton, .dropdown-menu {
  width: 200px;
}
#dropdownMenuButton {
  padding-right: 0;
}


iframe,img {
  width: 100%;
}

.item {
  margin: 30px;
  padding: 15px;
  border: 1px solid rgb(213, 242, 255);
  border-radius: 6px;
  background-color: rgb(231, 248, 255);
  box-shadow: 0px 9px 21px -6px rgba(138, 138, 138, 0.57);
}

.textItem {
  background-color: white;
  padding: 10px 20px;
}

.textItem p {
  text-align: left;
  margin: 0;
  font-size: 120%;
}

.item-comments {
  margin-top: 15px;
}

/*** floating button ***/

#floating-buttons {
  position: fixed;
  right: 16%;
  bottom: 100px;
}


.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 70px;
  height: 70px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;  
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

#floating-buttons:hover .buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGML8RFBGH2fMs8NSx1Rv2B7K3ZJDNu2fd7N33hJNnMrDBDY6xOA');
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background-image: url('http://icons.iconarchive.com/icons/designbolts/free-multimedia/1024/Photo-icon.png');
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background-image: url('http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Video-Camera-2-icon.png');
  background-size: contain;
}

.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4szLoUbNGn3-hgs5gaqkwyUPD6NgGjBMzm-waobyhG0KEZW-z');
  background-size: contain;
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/***  POP UP  ***/

.popUp {
  width: 700px;
  padding: 6px 16px; 
}

.popUp h3 {
  margin-bottom: 50px;
}

.item {
  margin: 30px 0;
  padding: 15px;
  border: 1px solid rgb(213, 242, 255);
  border-radius: 6px;
  background-color: rgb(231, 248, 255);
  box-shadow: 0px 9px 21px -6px rgba(138, 138, 138, 0.57);
}
.popUp p {
  margin-bottom: 5px;
  font-size: 90%;
}

.popUp input:first-of-type {
  width: 100%;
  height: auto;
  font-size: 110%;
  letter-spacing: 0.3px;
  border: none;
  border-bottom: 2px solid rgb(226, 226, 226);
}

.popUp input:first-of-type:focus {
  outline: none;
}

.popUp input:last-of-type {
  float: right;
  margin-top: 40px;
  margin-bottom: 5px;
  padding: 10px 15px;
  width: 80px;
  background-color: rgb(62, 127, 233);
  border: 1px solid rgb(34, 115, 245);
  border-radius: 3px;
  color: white;  
}

.popUp input:last-of-type:hover {
  background-color: rgb(22, 105, 238);
  cursor: pointer;
}

/* COMMENT */
.popUp p:nth-of-type(2) {
  color: red;
}

.comment {
  background-color: rgb(231, 248, 255);
  margin-left: 0px;
  margin-bottom: 10px;

}
.comment img {
  border-radius: 50%;
  height: 100px;
}
.comment h3 {
  margin-top: 10px;
  font-size: 100%;
}
.comment-text {
  text-align: left;
  padding: 10px;
}
#input {
  margin: 0;
  border: 1px solid white;
  border-bottom: 1px solid rgb(206, 206, 206);
  height: 40px;
  width: 85%;
  /* margin-bottom: 50px; */
  outline: none;
  font-size: 20px;
}
.send {
  padding-top: 10px;
}
#button {
  background-color: rgb(231, 248, 255);
  color: black;
  border-radius: 5px;
  width: 100px;
  margin-left: -60px;
}
#noComments {
  font-size: 270%;
  text-align: center;
  color: rgb(122, 122, 122);
  margin: 102px auto; 
}
.fa-angellist {
  font-size: 220%;
  
}

/*     PROFILE      */

#profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#profile h2 {
  margin: 20px auto;
}
#profile .details {
  margin-top: 50px;
}
.details {
  background-color: violet;
  display: inline-block;
  padding: 5px;
  border-radius: 50px;
  text-align: left
}
.circle {
  /* margin: 5px; */
  border-radius: 50%;
  background-color: green;
  padding: 5px
}

#editButton {
  text-decoration: underline;
  color: rgb(86, 86, 245)
}

/*    EDIT PROFILE    */

.editProfile img{
  width: 85%;
}
.title{
  text-align: center;
}
.uploadPhoto {
  text-align: center;
  /* margin-left: 1px; */
}
.uploadPhoto input , .close-update input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(102, 151, 243);
  border: none;
  padding: 5px;
}
.name {
  padding-top: 75px;
}
.name h4 {
  color:red;
  font-size: 100%;
  margin-bottom: 10px;
}
.name input, .description input{
  border: 1px white solid;
  border-bottom: 1px red solid;
  width: 100%
}
.description input{
  margin-top: 20px;
  margin-bottom: 20px;
}
/***********  PEOPLE  ************/

.search {
  margin-top: 30px;
}

.search input{
  width: 95%;
  border: none;
  padding-left: 15px;
  font-size: 130%;
}

.search input:focus {
  outline: none;
}

.fa-search {
  font-size:170%;
}

.itemPeoplePage{
  background-color: white;
}

.itemPeoplePage img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.itemPeoplePage p,h4 {
  text-align: left;
}

#userNotFound {
  font-size: 270%;
  text-align: center;
  color: rgb(122, 122, 122);
  margin: 27% auto; 
}

.fa-frown {
  font-size: 220%;
}
